@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;

  box-sizing: border-box;
}

a {
  color: theme("colors.purple");
  cursor: pointer;
  @apply body-md hover:underline;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/InstrumentSans-VariableFont.ttf") format("ttf")
      tech("variations"),
    url("./assets/fonts/InstrumentSans-VariableFont.ttf")
      format("truetype-variations");

  font-weight: 400 700;
}

/* ---- Typography ---- */
.heading-md {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.heading-sm {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.body-md {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body-sm {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* ---- Interactive Elements ---- */
/* -- Textfield -- */
.text-field-container {
  display: flex;
  align-items: center;
  align-self: stretch;

  padding: 0.75rem 1rem;
  gap: 0.75rem;

  width: 100%;
  /* max-width: fit-content; */

  cursor: text;
}

.text-field-container-styles {
  border-radius: 0.5rem;
  border: 1px solid theme("colors.border-gray");
  background: white;
  color: theme("colors.dark-grey");
}

@layer utilities {
  .text-field-container-styles-active {
    border-radius: 0.5rem;
    border: 1px solid theme("colors.purple");
    background: theme("colors.white");

    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.251);
  }
}

.text-field-container-styles-error {
  border-radius: 0.5rem;
  border: 1px solid theme("colors.red");
  background: theme("colors.white");
  color: theme("colors.red");
}

.text-field-input {
  outline: none;
}

/* -- Button -- */
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  /* max-width: fit-content; */

  padding: 0.6875rem 1.6875rem;
  gap: 0.5rem;

  border-radius: 0.5rem;
}

.btn-primary {
  background: theme("colors.purple");
}

.btn-secondary {
  border: 1px solid theme("colors.purple");
}

@layer utilities {
  .btn-primary-active {
    background: theme("colors.purple-hover");
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }

  .btn-secondary-active {
    border: 1px solid theme("colors.purple");
    background: theme("colors.purple");
  }

  .btn-primary-disabled {
    opacity: 0.25;
    background: theme("colors.purple");
  }

  .btn-secondary-disabled {
    border: 1px solid theme("colors.purple");
    opacity: 0.25;
  }
}

/* -- Dropdown List -- */
.dropdown-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 0.75rem;

  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.dropdown-style {
  border-radius: 0.5rem;
  border: 1px solid theme("colors.border-gray");
  background: white;
}

.dropdown-list-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;

  padding: 0.75rem 1rem;
  cursor: pointer;
}

.dropdown-list-styles {
  border-radius: 0.5rem;
  border: 1px solid theme("colors.border-gray");
  background: white;

  /* shadow */
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .dropdown-styles-active {
    border: 1px solid theme("colors.purple");
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }

  .dropdown-list-styles-active {
    color: theme("colors.purple");
  }
}

.dropdown-list-divider-layout {
  width: 100%;
  height: 0.0625rem;
}

.dropdown-list-divider-styles {
  background: theme("colors.border-gray");
}

.dropdown-option {
  @apply flex justify-center items-center gap-3 text-dark-grey;
}

/* --- Pages --- */
/* -- Login -- */
.login-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.1875rem;
}

.login-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;

  padding: 2.5rem;
}

.login-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
